@charset "UTF-8";
/* CSS Document */

* {
	box-sizing:border-box;
}

a {
	text-decoration:none;
}

body {
	background-color:#fff;
	max-height: 100%;
	font-family: 'Lato', sans-serif;
	font-size:14px;
	margin:0;
	font-weight:300;
}

.topcontainer {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding-top:50px;
}

.topcontent {
	font-family:'Rubik Mono One', sans-serif;
	font-size:40px;
	text-align:center;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:-50px;
}

.topcontent mark {
	color:#fedc3d;
	background-color:white;
	text-align:left;
}

#header, #footer{
	background-color:none;
	position:fixed;
	height: 50px;
	display:block;
	width: 100%;
	z-index:9;
	color: #f2f2f2;
	padding: 20px 0 0 0;
}

#header{
	top:0px;
}
	
#footer{
	bottom:0px;
	margin-bottom:10px;
}

#header a, #footer a {
	font-family:'Rubik', sans-serif;
	font-size:15px;
	font-weight:500;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:3px;
	color:#fff;
}

#header a:hover {
	text-decoration:line-through;
}

#footer a:hover {
	text-decoration:line-through;
}

.navright {
	float:right;
	padding-right:30px;
}

.navleft {
	padding-left:30px;
}

.symbolsize {
	font-size:20px;
}

.section {
	color:#fff;
}

.projcol {
	display:table;
	width:50%;
	height:100%;
	float:left;
	padding:50px;
}

.projcol span {
	display:table-cell;
	vertical-align:middle;
}

.projcolleft {
	text-align:right;
}

.projcolright {
	text-align:left;
}

.viewprojbtn {
	width:180px;
	border:2px solid #111;
	text-align:center;
	padding:15px 30px 15px 30px;
	overflow:auto;
	font-family:'Rubik', sans-serif;
	font-size:12px;
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#111;
	text-decoration:line-through;
}

.viewprojbtn:hover {
	background-color:#111;
	color:white;
}

h6 {
	font-family:'Rubik', sans-serif;
	font-size:15px;
	font-weight:500;
	text-transform:uppercase;
	letter-spacing:3px;
	margin:0;
	margin-bottom:10px;
}

.vertalign {
	vertical-align:center;
}

.projcont img:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.floatr {
	float:right;
}

.aboutcont {
	font-family:'Inconsolata', monospace;
	font-size:15px;
	font-weight:100;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	color:#94B2B9;
	background-color:rgba(255,255,255,0.7);
	padding:10px;
}

.aboutpic {
	background-image:url("../images/self.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	width:50%;
	height:50%;
	margin-left:auto;
	margin-right:auto;
	font-family:'Rubik Mono One', sans-serif;
	font-size:50px;
	letter-spacing:1px;
	padding:10px;
	padding-left:18px;
	color:rgba(148,178,185,1.00);
	opacity:0.7;
}

.contactcont {
	width:100%;
	text-align:center;
}

.aboutcont a, .contactcont a {
	color:#94B2B9;
}

.aboutcont a:hover, .contactcont a:hover {
	border-bottom:1px solid #94B2B9;
}

.aboutcont a:visited, .contactcont a:visited {
	color:#94B2B9;
}

strong {
	font-weight:500;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media only screen and (max-width: 768px) {
	.projcont img {
		width: 400px;
		height:auto;
	}
	
	.projsubcont {
		float:none;
		margin:0;
	}
	
	.floatr {
		float:none;
	}
}